body{
background: rgb(16, 3, 15,1);
padding:0%;
margin:0%;
text-transform: capitalize;
font-family: Georgia, 'Times New Roman', Times, serif;
}
* h2{
    font-family:Balsamiq Sans;
}
.user{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
} 
/* Photo & Navigations  */
 .left{
    width:22%;
    position: fixed;
    float: left;
    background:rgba(121,51,115,0.3); 
    height:700px; 
    text-align: center;
    }
/* photo */
.left .profile{
    border-radius:20%;
    border:5px solid rgba(246, 197,6,1); 
    width:150px;
    height:150px;
    margin-top:30px;
  justify-content:center;
}
/* my links */
.imgl-nav{
    width:30px;
    height:30px;
    margin:20px 5px 10px;
   }
   .linl-anc{
       text-decoration: none;
   }

.navigation ol{
    list-style-type:none;
    height:300px;

}
.anchor{
    display: block;
    border-radius:20px;
    background:rgba(121,51,115,0.3); 
    height:20px;
    width:200px;;
    text-decoration: none;
    color:white;
    padding:10px;
} 
.anchor:hover{
    background: white;
    color:black;
}

/* Right section starts */
.right
{
    width:65%;
    height:auto;
    margin-top:100px;
    position: absolute;
    left: 30%;
}
.right h4{
    color:white;
}
.home{
    height:450px;
    margin-left: 20%;
    /* background: rgb(182, 164, 180); */
    /* border-right:5px solid yellow; */

   
}
.home p{
    font-size:auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(245, 226, 243, 0.4); 
    text-align:justify;
    width:550px;
    text-transform: none;
    padding:510x;
}
.home #myname{
    color:rgb(139, 45, 228);
    font-size: 150%;
}
.right h3{
    text-align: center;
    color:white;
}
/* for btm */
.right h3:hover {
background:rgb(202, 221, 28);
color:rgb(139, 45, 228);
font-size:1.5rem;
padding: 5px 10px 5px 10px;

}


.right .heading{
    margin-top: 50px;
    text-align: center;
}
.btn{
    display:block;
    background: rgb(139, 45, 228);
    width:150px;
    height:30px;
    border-radius:20px;
    padding-top: 10px;
    margin-top:35px;
}
.skils_section{
    margin-left: 30px;
}
.w-skills{
    display:flex;
    flex-direction:column;
    height:320px;
    width: auto;
    padding-bottom: 30px;
}
 .s_container{
/* background:rgb(5, 5, 5); */
background:rgba(95, 29, 156, 0.3); 
border-radius:10px;
 width:800px;
flex:1;
margin:8px 20px 0px 0px;
}
.s_container h4{
    text-align: center;
    font-family:Balsamiq Sans;
}
.s_container:hover{
    background: rgb(139, 45, 228);
    width:500px;
    margin-left:170px;
   }
.o-skills{
    display:flex;
    flex-direction:column;
    height:320px;
    padding:20px;
    width:auto;
}

.os_container{
    background:rgba(95, 29, 156, 0.3); 
    border-radius:10px;
    flex:1;
    padding:10px;
    width:800px;
    margin:8px 20px 0px 0px;
    }
    .os_container h4{
        text-align: center;
        margin:10px 0px 10px 0px;
        font-family:Balsamiq Sans;
        font-size:20px;
    }
    .os_container:hover{
     background: rgb(139, 45, 228);
        width:500px;
        margin-left:170px;
    }
    /* education section */
    .education{
        display:flex;
        flex-direction: row;
        margin-left:50px;
        height:340px;
        width:800px;
        justify-content: space-between;
        text-align: center;

    }
    /* year of passing */
    .education i{
        display:block;
        border-radius:20px;
        height:20px;
        width:50px;
        margin:10px 0px 20px 20px;
        background: rgb(18, 117, 231);
    }
    
    .hsc{
        flex:1;
        /* background:cyan; */
        background: linear-gradient(to top ,cyan,violet);
    }
    .ug{
        flex:1;
        background: linear-gradient(to bottom ,cyan,violet);
        /* background: violet; */
        margin-right: 10px;
    }
    .ssc{
        flex:1;
       
        background: linear-gradient(to bottom ,cyan,violet);
        margin-left: 10px;
    }
    /* hover to education divs */
    .hsc:hover{
         margin:20px 0px 10px 0px;
        background:cyan;
       
    }
    .ssc:hover{
        margin:20px 0px 10px 10px;
       background:violet;
       
   }
   .ug:hover{
    margin:20px 10px 3px 0px;
   background:violet;

}
    .education p{
        color: rgb(155, 26, 142); 
        margin-left: 5px;
    }
    /* project sction start */

    .Project-section{
        display:flex;
        flex-direction: row;
        width:auto;
        height:auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .project-card{
        width:auto;
        background-color:rgb(98, 98, 184);
        padding:5px;
        margin:20px;
        position: relative;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    .project-card:hover {
        transform: rotateY(180deg);
      }
      .centered{
        position: absolute;
        top: 50%;
        background-color: rgb(193, 201, 206);
        left: 50%;
        width:200px;
        transform: translate(-50%, -50%);
      }
    /* contact me section starts */
    .contact-section{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .contact-section img{
        margin-left:0px;
    }
    .contact-section a{
        text-decoration: none;
        /* display: flex; */
    }
    .number{
        box-sizing: border-box;
        background: linear-gradient(to bottom ,cyan,violet);
        width: 280px;
        margin: 20px;
        padding: 25px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0px 15px 25px rgb(97, 11, 85);
        /* display: flex; */

    }
    .email{
        box-sizing: border-box;
        text-align: center;
        background: linear-gradient(to bottom ,cyan,violet);
        width: 280px;
        margin: 20px;
        padding: 25px; 
        border-radius: 20px;
        box-shadow: 0px 15px 25px rgb(97, 11, 85);
    }
  

    
    /* footer starts */
    .footer img{
        margin:10px 10px 0px 890px;
        width:40px;
        height:40px;
        border-radius: 20px;
    }

    .footer a{
        text-decoration: none;
    }

    /* mobile responsible */
    @media(max-width:1040px){
        .left{
        
            display:none;
            position:absolute;
            width:auto;
        }
        .right
{
    margin-top: 10px;
    /* background:pink; */
    left:2px;
    /* flex:auto; */
    
}
.home{
    margin:10px 0px 0px 0px;
    width:auto;
    /* background:white; */
}
.home #myname{
    font-size: 100%;
}
.home p{
    width:auto;
    /* padding:5px; */
    justify-content: justify;
}
.skils_section{
margin-left: 0px;
/* text-align: center; */

     
}
.right .heading{
    text-align: center;
}
.s_container{

     width:220px;
     height:2px;
     /* margin:6px 10px 0px 0px;  */
}   
.w-skills{
    margin-left: 21px;
}
.o-skills{
    margin-left: 0px;
}
.os_container{
    width:220px;
    height:2px;
    /* margin:6px 10px 0px 0px;  */
    }
    .os_container:hover{
           width:100px;
           margin-left:70px;
       }
       .s_container:hover{
           width:100px;
           margin-left:70px;
       }
      
       .education{

        flex-direction: column;
        height:auto;
        width: auto;
        margin-left: 25px;

        text-align: center;

    }
    .ug{
        margin-bottom: 20px;
    }
    .hsc{
        margin-bottom: 20px;
    }
    .contact-section{
      flex-direction: column;
    }
    .number{
        width:250px
    }
    .email{
        width:255px
    }

    }

